@media (min-width: 960px) {
    :root {
        --vp-layout-max-width: 100% !important;
        --vp-content-max-width: 100% !important;
    }

    .VPNav {
        z-index: 100 !important;
    }

    .VPDoc .container {
        margin: 0 !important;
        max-width: 100% !important;
    }

    .VPDoc .content {
        max-width: 100% !important;
        padding: 0 32px !important;
    }
}
